
<body>
<div id="header"></div>
<div class="vendor">

<div class="vendor-box">

<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>
<a href="#" class=" col-lg-2 col-md-2 col-sm-3 col-xs-6">
<div class="round-vendor"><img src="images/big-bzr.png" width="100%" /></div>
<h5>More</h5>
<p>Lorem ipsum dummy test carry all text with proof</p>


</a>



<div class=" clearfix"></div> 
</div>

</div>
<div id="footer1"></div>
</div>
</body>

